html * {
   font-family: Poppins, sans-serif; /* !important;*/
}

#pars_table {
    margin: 10px; 
    background-color: white; 
    padding: 5px; 
    border-top: solid #336699; 
    border-bottom: solid #336699;
    user-select: none;
}

#src_textarea, #tgt_textarea, #src_div, #tgt_div {
    resize: none;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 0px;
    box-shadow: 0 0 0;
    padding: 10px;
    outline: none;
    border: 0px; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    /*overflow: auto;  Can be scrolled */
    /*overflow: hidden;*/
    /*white-space: pre-wrap;*/
    position: absolute;
}

#src_textarea, #tgt_textarea {
    z-index: 1; /* Move editing in front of highlighting */
    resize: none; /*to prevent resizing textarea*/
    /* Make textarea almost completely transparent */
    color: transparent; /*transparent;*/
    background: transparent;
    caret-color: black; /* Or choose your favorite color */
  }
  #src_div, #tgt_div {
    z-index: 0; /* move highlighting under editing */
    text-align: left; /* this is to align text in div to the left as textarea */
    color: black;
    /*overflow-wrap: break-word;*/
    white-space: normal;
  }


#menuselect {
    z-index: 2; /* move menuselect over both div and textarea */
    padding: 0px;
    font-size: 16px;
    border-radius: 0px;
    background-color: white;
    border: 1px solid #aaa;
    position: relative;
    /*border-radius: 3px 3px 3px;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 1px;
}
option { 
    padding: 0px 10px; 
    border-top: 1px solid lightgrey; 
}
option:hover { 
    background-color: #EDFC92; 
}

#src_gadgets_cell {
    padding-left: 5px;
    text-align: left;
    vertical-align: top;
    font-size: 14px; 
    font-family: courier; 
    width: 150px; 
    color: grey; 
    border-right: solid 2px #dddddd; /* must show border */
}

#tgt_gadgets_cell {
    padding-right: 5px;
    text-align: right;
    vertical-align: top; 
    font-size: 14px; 
    font-family: courier; 
    width:150px; 
    color:grey;
}

#src_lang, #tgt_lang {
    border: 0px; 
    background-color: transparent; 
    padding: 5px; 
    font-size: 16px; 
    color: grey;
    -moz-appearance: listbox; 
    -webkit-appearance: none
}

#IP, #PORT {
    font-family: courier; 
    font-size: 16px;
}

#src_lang_cell {
    text-align:left; border-right: solid 2px #dddddd;
}

#tgt_lang_cell {
    text-align:right;
}

#footnote {
    font-size:12px; 
    color:#336699;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

#langs {
    display: inline-block; 
    font-size:16px; 
    cursor: pointer;
    font-family: courier; 
}

#alt, #delay{
    border: 0px solid black; 
    border-radius: 3px 3px 3px; 
    text-align: center; 
    display: inline-block; 
    width:30px; color:black; 
    font-family: courier;
}

#alt_decr, #alt_incr, #delay_incr, #delay_decr{
    padding: 2px; 
    color:grey;
}

button {
  background-color: #fff;
  border: 1px solid grey; /*#d5d9d9;*/
  border-radius: 3px;
  /*
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  */
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  height: 25px;
  width: 20px;
}

button:hover {
  background-color: #f7fafa;
}
