
#src_textarea, #tgt_textarea {
    resize: none;
    font-size: 22px;
    font-family: helvetica, sans-serif;
    border-radius: 0px;
    background: transparent; 
    box-shadow: 0 0 0;
    padding: 10px;
    outline: none;
    border: 0px; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    overflow: hidden;
    white-space: pre-wrap;
}

#menudiv {
    padding: 0px;
    background-color: white;
    text-align: justify;
    width: 1px;
    margin: 5px;
    font-size: 18px;
}

#menuselect {
    padding: 0px;
    font-size: 18px;
    font-family: helvetica, sans-serif;
    border-radius: .0em;
    background-color:white;
    border: 1px solid #aaa;
    /*box-shadow: 0px 5px 15p[Ox rgba(0, 0, 0, 0.35);*/
    /*
    box-shadow: 0 0 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    */
}

option { padding: 10px; border-top: 1px solid lightgrey;}
option:hover { background-color: #EDFC92; }
/* option:hover { box-shadow: 0 0 10px 100px #000 inset; }*/
/* select:focus > option:checked { background: #EDFC92; !important; }*/

/*
th, td {
    padding: 3px;
}
*/